<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8" />
  <script type="text/javascript" src="/js/event.js"></script>
</head>
<body>
<div th:replace="common/header.html"></div>
<div style="margin-top: 100px;">
  <h1 align="center">사진게시판 작성</h1>
  <form id="thumbnailRegistForm" action="/thumbnail/regist" method="post" enctype="multipart/form-data">
    <div>
      <table align="center">
        <tr>
          <td style="width: 100px">제목</td>
          <td colspan="3"><input type="text" size="45" name="title"></td>
        </tr>
        <tr>
          <td>대표 이미지</td>
          <td colspan="3">
            <div class="image-area">
              <img style="width: 350px; height: 200px;">
            </div>
          </td>
        </tr>
        <tr>
          <td>내용 사진</td>
          <td>
            <div class="image-area">
              <img style="width: 120px; height: 100px;">
            </div>
          </td>
          <td>
            <div class="image-area">
              <img style="width: 120px; height: 100px;">
            </div>
          </td>
          <td>
            <div class="image-area">
              <img style="width: 120px; height: 100px;">
            </div>
          </td>

        </tr>
        <tr>
          <td style="width: 100px">사진 메모</td>
          <td colspan="3"><textarea name="body" rows="5" cols="50" style="resize: none;"></textarea></td>
        </tr>
      </table>
      <div style="display: none;">
        <input type="file" name="attachImage" accept="image/gif,image/jpeg,image/png">
        <input type="file" name="attachImage" accept="image/gif,image/jpeg,image/png">
        <input type="file" name="attachImage" accept="image/gif,image/jpeg,image/png">
        <input type="file" name="attachImage" accept="image/gif,image/jpeg,image/png">
      </div>
    </div>
    <br>
    <div align="center">
      <button type="button" onclick="location.href='/thumbnail/list'">돌아가기</button>
      <button type="reset">취소하기</button>
      <button type="submit">작성완료</button>
    </div>
  </form>
</div>

<script>
  (function(){ //즉시 실행 함수 : 전역 안에 코드 작성시 분리된 스코프를 가짐 중복X
    //div imge area 요소
    const imageArea = document.querySelectorAll(".image-area");
    //input type=file 요소
    const fileElements = document.querySelectorAll("[type=file]");
    //div 클릭 시 open 함수 동작하여 input type=file 클릭
    imageArea.forEach(item => item.addEventListener('click', open));
    //파일 첨부가 발생하는 상황에 preview 함수 동작
    fileElements.forEach(item => item.addEventListener('change',preview));
    function open(){
      const index = Array.from(imageArea).indexOf(this); //클릭된게 뭔지에 따라..
      fileElements[index].click();
    }

    function preview(){
      const index = Array.from(fileElements).indexOf(this);
      console.log(this);
      console.log(this.files, this.files[0]);
      //첨부 된 파일이 존재한다면
      if (this.files && this.files[0]){
        const reader = new FileReader();
        reader.readAsDataURL(this.files[0]);
        //파일 로드 후 동작하는 이벤트 발생 설정
        reader.onload = function (){
          console.log(reader.result);
          if (index === 0){
            imageArea[index].innerHTML = `<img src='${reader.result}' style="width: 350px; height: 200px">`;
          }else {
            imageArea[index].innerHTML = `<img src='${reader.result}' style="width: 120px; height: 100px">`;
          }
        }
      }

    }
  })();
</script>






</body>

</html>