<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    <h1>view resolver 테스트</h1>

    <h3>문자열로 뷰 이름 반환하기</h3>
    <button onclick="location.href='string'">문자열로 뷰 이름 반환</button>

    <h3>문자열로 redirect 하기</h3>
    <button onclick="location.href='string-redirect'">문자열로 redirect 반환</button>

    <h3>문자열로 redirect & flashAttribute 추가 하기</h3>
    <button onclick="location.href='string-redirect-attr'">문자열로 redirect & flashAttribute 추가</button>

    <script>
        const flashMessage1 = '[[${flashMessage1}]]';
        console.log(flashMessage1); // 콘솔에 출력하고
        if (flashMessage1) alert(flashMessage1); //빈문자열이 아니면 그 문자를 알러트 창에 띄움
    </script>

    <h3>ModelAndView로 뷰 이름 반환하기</h3>
    <button onclick="location.href='modelandview'">ModelAndView로 뷰 이름 반환</button>

    <h3>ModelAndView로 redirect 하기</h3>
    <button onclick="location.href='modelandview-redirect'">ModelAndView로 redirect 반환</button>

    <h3>ModelAndView로 redirect & flashAttribute 추가 하기</h3>
    <button onclick="location.href='modelandview-redirect-attr'">ModelAndView로 redirect & flashAttribute 추가 하기</button>

    <script>
        const flashMessage2 = '[[${flashMessage2}]]';
        console.log(flashMessage2); // 콘솔에 출력하고
        if (flashMessage2) alert(flashMessage2); //빈문자열이 아니면 그 문자를 알러트 창에 띄움
    </script>

</body>
</html>